* {
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: Roboto, sans-serif;
}

@media (max-width: 760px) {
  body {
    display: block;
  }
}

@media (min-width: 761px) {
  body {
    display: flex;
    gap: 1.5rem;
  }

  #navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
  }

  #main-doc {
    position: absolute;
    display: block;
    margin-left: 280px;
  }
}

header {
  font-size: 24px;
  font-weight: 800;
}

#navbar {
  padding: 15px;
}

#navbar ul li {
  list-style: none;
  margin: 20px auto 0 auto;
  border-bottom: 1px solid;

}

#navbar ul li a {
  color: #efefef;
  text-decoration: none;
}

#main-doc {
  padding: 20px;
  border-left: 1px solid;
}

a {
  color: #efefef;
  font-weight: 700;
}

#navbar ul li a:hover {
  background-color: #ffffff;
  color: #000000;
  margin: 20px 0;
  padding: 2px 5px;
}

code {
  display: block;
  position: relative;
  text-align: left;
  background-color: darkgrey;
  color: black;
  padding: 10px 5px;
  border-radius: 5px;
}